*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.tweet {
  background-color: #81ecec ;
  border: 2px solid #2980B9 ;
  padding: 8px ;
  width: fit-content ;
  border-radius: 16px ;
  min-width: 200px ;
} 

.tweet h3 , p{
  margin: 0 ;
  margin-bottom: 8px ;
  margin-top: 8px ;
}

.tweet-container {
  display: flex ;
  flex-wrap: wrap ;
  gap: 16px ;
}

